.gradient-custom {
/* fallback for old browsers */
background: #5d7687;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to bottom right, rgb(106, 159, 121), rgb(72, 114, 146));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to bottom right, rgb(117, 136, 183), rgb(58, 108, 72))
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
font-size: 1rem;
line-height: 2.15;
padding-left: .75em;
padding-right: .75em;
}
.card-registration .select-arrow {
top: 13px;
}

#button {
    padding: 10px;
    background-color: #97c0cc;
    border-color: #7ea38d;
    border-radius: 5px;
    margin-left: 50px;
    display: flex;
    margin: 0 2em;
    text-decoration: none;
    border-style: outset;
    border: 10px;
  }

  body {
    background-color: rgb(100, 139, 102);
  }

  .card-registration {
    background-color: #97c0cc;
  }

.btn {
    padding: 10px;
    /* changed to visible color */
    background-color: #2CA5B5;
    border-color: #9996fa;
    border-radius: 5px;
    margin-left: 50px;
    display: flex;
    margin: 0 2em;
    text-decoration: none;
    border-style: outset;
    border: 10px;
  }
  /* brad changes below  */
  /* to revert button styling, change id back to #button  */
    #back{
      padding: 10px;
      background-color: #97c0cc;
      border-color: #9996fa;
      border-radius: 5px;
      margin: 0px 50px;
      a {
        text-decoration: none;
        color: #333;
      }
     }
     #back:hover {
      background-image: linear-gradient(rgb(0 0 0/30%) 0 0);
    }
  
  /* added slight padding to button  */
  nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
   
  }
  