html {
    background-color: rgb(194, 197, 161);
  }




/* .container-milo {
    background-image: url(../images/aussiedoodle.jpg);
    display: flex;
    /* width: 100%; */
    /* height: 385px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 31%;
    font-size: 45px;
} */ */

/* .container-archie {
    background-image: url(../images/mastiff.jpg);
    display: flex;
    height: 385px;
    background-size: 900px;
    background-repeat: no-repeat;
    background-position-y: 19%;
    background-position-x: 100%;
    font-size: 45px;
    background-color: white;
} */

/* .container-arlo {
    background-image: url(../images/doberman.jpg);
    display: flex;
    height: 385px;
    background-size: 900px;
    background-repeat: no-repeat;
    background-position-y: 19%;
    background-position-x: 100%;
    font-size: 45px;
    background-color: white;
} */


.nav1 {
    display: flex;
    justify-content: flex-end;
}

#back {
    font-size: 15px;
    padding: 4px;
    margin-bottom: 5px;
}

span {
    text-decoration: underline;
  }

  section {
    max-width: 75%;
    background-color: rgb(190, 191, 163);
    display:flex;
    border-radius: 3%;
    margin:10%;
    font-size: 20px;
    font-family: serif;
  }

  .nav2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid black;
    margin-top: 2%;
  }

  #adopt {
    font-size: 30px;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: rgb(145, 150, 136);
  }

  #button {
    padding: 10px;
    background-color: #a2c7ac;
    color: #dcd9c9;
    border-color: #9996fa5a;
    border-radius: 5px;
    margin-left: 50px;
    display: flex;
    margin: 0 2em;
    text-decoration: none;
  }

  body {
    background-color: rgb(134, 153, 160);
  }

  .jumbotron {
    background-color: rgb(190, 191, 163);
  }

