html {
  background-color: rgb(191, 194, 175);
  scroll-behavior: smooth;
}

.custom-cursor {
  cursor: url('file:///Users/brookecline/Downloads/paw_print.svg'), auto;
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.house {
  width: 300px;
  height: 300px;
  background-color: transparent; 
  position: relative;
  margin: 50px auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0); 
}


.roof {
  width: 0;
  height: 0;
  border-left: 155px solid transparent;
  border-right: 146px solid transparent;
  border-bottom: 113px solid #8b4513;
}


.walls {
  width: 100%;
  height: 100%;
  background-color: #cc9966; 
  position: relative;
  font-size: 35px;
}


.door {
  width: 50px;
  height: 80px;
  background-color: #663300; 
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.door .hidetext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.door:hover .hidetext {
  display: inline-block;
  background-color: #F4F1DE;
  color: black;
  visibility: visible;
}

.hidetext {
  display:none;
 
}
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .box {
    display: block;
    float: left;
    width: 30%;
    height: 300px;
    margin: 1%;
    cursor: pointer;
    object-fit: cover;
    border-radius: 8px;
    background-color: transparent;
}
  #header {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: center;
    background-color: rgb(201, 201, 175);
    border-bottom: #9996fa 5px solid;
    margin-left: -200px;
  }
  header a {
    color: #283618;
    text-decoration: none;
    font-size: 150%;
    margin: 0 1em;
  }

  #nav-button {
    display:flex;
    justify-content: flex-end;
  }

  #button {
    padding: 10px;
    background-color: #4d7959;
    color: #dcd9c9;
    border-color: #9996fa;
    border-radius: 5px;
    margin-left: 50px;
    display: flex;
    margin: 0 2em;
    text-decoration: none;
  }

  #logo {
    width: 200px;
    height: 200px;
    margin-right: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
  }

  #title {
    display: flex;
    margin-right: 100px;
    font-size: 250%;
    color: #283618;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  p {
    font-size: 150%;
  }

  footer {
    margin-top:100px;
    border-top: 5px solid #9996fa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(201, 201, 175);
  }



