html {
  background-color: rgb(191, 194, 175);
  scroll-behavior: smooth;
}



body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  font-size: 220%;
  font-weight: bold;
  color: #5b7141;
  max-width: 100%;
  width: auto;
}

p {
  font-size: 150%;
}

footer {
  margin-top:100px;
  border-top: 5px solid #9996fa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgb(201, 201, 175);
}

/* class */
.house {
  width: 300px;
  height: 300px;
  background-color: transparent; 
  position: relative;
  margin: 50px auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0); 
}


.roof {
  width: 0;
  height: 0;
  border-left: 155px solid transparent;
  border-right: 146px solid transparent;
  border-bottom: 113px solid #8b4513;
}


.walls {
  width: 100%;
  height: 100%;
  background-color: #cc9966; 
  position: relative;
  font-size: 35px;
}


.door {
  width: 50px;
  height: 80px;
  background-color: #663300; 
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.door .hidetext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.door:hover .hidetext {
  display: inline-block;
  background-color: #F4F1DE;
  color: black;
  visibility: visible;
}

.hidetext {
  display:none;
 
}

.button {
  padding: 10px;
  background-color: #4d7959;
  color: #dcd9c9;
  border-color: #9996fa;
  border-radius: 5px;
  margin-left: 50px;
  display: flex;
  margin: 0 2em;
  text-decoration: none;
  border-style: outset;
  border: 10px;
}

/* id's */

  #header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(201, 201, 175);
  }



  #header a {
    color: #93aa78;
    text-decoration: none;
    font-size: 150%;
    margin: 0 1em;
  }


  #nav-button {
    display:flex;
    justify-content: flex-end;
  }

  #logo1 {
    max-width: 175px;
  }

  /* brad edits */
  header {
    border-bottom: 5px solid #9996fa;
    background-color: rgb(201, 201, 175);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  /* quick fix for buttons touching. may change later */
  nav {
    display:flex;
    flex-direction: column;
  }

  .button {
    margin: 10px;
  }

/* to revert button style, change class to ".button" */
  .button { 
    padding: 10px;
    background-color: #97c0cc;
    border-color: #9996fa;
    border-radius: 5px;
    margin-left: 100px;
    margin-right: 100px;
    a {
      text-decoration: none;
      color: #333;
    }
   }
   .button:hover {
    background-image: linear-gradient(rgb(0 0 0/30%) 0 0);
  }
    
   /* centered text on house  */
   #name {
    padding-left: 90px;
    padding-top: 20px;
   }

   /* house hover hint text  */
   .hint {
    text-align: center;
    /* color:#9996fa; */
   }
   



